
@{
    ViewBag.Title = "Index";
}

<div class="btn-group" role="group" aria-label="Basic example">
    <a class="btn btn-primary m-2" href="/Driver/Create">Driver</a>
    <a class="btn btn-secondary m-2" href="/Garage/Create">Garage</a>
</div>

