
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<div class="btn-group" role="group" aria-label="Basic example">
    <a class="btn btn-primary m-2" href="/Driver/Login">Driver</a>
    <a class="btn btn-primary m-2" href="/Garage/Login">Garage</a>
    <a class="btn btn-primary m-2" href="/Admin/Login">Admin</a>
</div>