
@{
    ViewBag.Title = "Admin";
}

<h2>Login @ViewBag.Title</h2>

<div class="container-fluid">
    <form>
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="staticEmail" placeholder="johndoe@email.com">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword">
            </div>
        </div>
        <div><a class="btn btn-outline-primary" href="/Admin/Login">Login</a></div>
        <div><a class="mt-lg-5" href="/Admin/Create">Create Account</a></div>
    </form>
</div>
